{% extends "base.tmpl" %}
{% block pagetitle %}About{% endblock %}
{% block content %}
<h1>About project</h1>

<p>Data catalogs and portals registry is the part of Common Data Index project.</p>

<p>
This registry includes description of the following data catalogs:
</p>
<ul>
<li>Open data portals</li>
<li>Geoportals</li>
<li>Scientific data repositories</li>
<li>Indicators catalogs</li></li>
<li>Microdata catalogs</li>
<li>Machine learning catalogs</li>
<li>Data search engines</li>
<li>API Catalogs</li>
<li>Data marketplaces</li>


<p>All data available under CC-BY 4.0 license and free for reuse.</p>

<p>This catalog's registry was created by Ivan Begtin, contact me at <a href="mailto:ivan@begtin.tech">ivan@begtin.tech</a> if you have any question.</p>


{% endblock %}
