{% extends "base.tmpl" %}
{% block pagetitle %}{{object.name}}{% endblock %}
{% block content %}
    <h1 class="title">{{object.name}} ({{object.uid}})</h1>
    <p>{{object.description}}</p>
{% if object.dateno.indexed %}<span class="tag is-success mb-4">Indexed</span>{% else %}<span class="tag is-danger mb-4">Not indexed</span>{% endif %}

<h4 class="title is-4">General</h4>
<table class="table is-fullwidth">
<thead><th>Property</th><th>Value</th></thead>
<tbody>
<tr>
<td>Link</td><td><a href="{{object.link}}" target="_blank">{{object.link}}</a></td>
</tr>
<tr>
<td>Status</td><td>{{object.status}}</td>
</tr>
<tr>
<td>Catalog type</td><td>{{object.catalog_type}}</td>
</tr>
{% if object.identifiers %}
<tr>
<td>Identifiers</td><td>
    <table class="table">
      <thead>
        <tr>
          <th>id</th>
          <th>value</th>
        </tr>
      </thead>
<tbody>
  {% for c in object.identifiers %}
<tr>
<td>{{c.id}}</td>
<td><a href="{{c.url}}" target="_blank">{{c.value}}</a></td>
</tr>
  {% endfor %}
</tbody>
</table>
</td>
</tr>
{% endif %}
<tr>
<td>Owner name</td><td>{{object.owner.name}}</td>
</tr>
<tr>
<td>Owner type</td><td>{{object.owner.type}}</td>
</tr>
<tr>
<td>Owner link</td><td><a href="{{object.owner.link}}" target="_blank">{{object.owner.link}}</a></td>
</tr>
<tr>
<td>Owner location</td><td>{{object.owner.location.country.name}}</td>
</tr>
<tr>
<td>Software</td><td>{{object.software.id}} ({{object.software.name}})</td>
</tr>
<tr>
<td>Tags</td><td>{{ object.tags | join(', ') }}</td>
</tr>
<tr>
<td>Access modes</td>
<td>
{{ object.access_mode | join(', ') }}
</td>
</tr>
<tr>
<td>Content types</td>
<td>
{{ object.content_types | join(', ') }}
</td>
</tr>
<tr>
<td>API Status</td><td>{{object.api_status}}</td>
</tr>
</table>


<h4 class="title is-4">Coverage</h4>

    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>code</th>
          <th>name</th>
        </tr>
      </thead>
<tbody>
  {% for d in object.coverage %}
<tr>
<td>{{d.location.country.id}}</td>
<td>{{d.location.country.name}}</td>
</tr>
  {% endfor %}
</tbody>
</table>


<h4 class="title is-4">Languages</h4>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>code</th>
          <th>name</th>
        </tr>
      </thead>
<tbody>
  {% for c in object.langs %}
<tr>
<td>{{c.id}}</td>
<td>{{c.name}}</td>
</tr>
  {% endfor %}
</tbody>
</table>

{% if object.endpoints %}

<h4 class="title is-4">API Endpoints</h4>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>type</th>
          <th>url</th>
        </tr>
      </thead>
<tbody>
  {% for c in object.endpoints %}
<tr>
<td>{{c.type}}</td>
<td><a href="{{c.url}}" target="_blank">{{c.url}}</a></td>
</tr>
  {% endfor %}
</tbody>
</table>

<h4 class="title is-4">Download</h4>
    <p class='mb-4'><a href="/catalog/{{object.uid}}.json">JSON</a></p>

<h4 class="title is-4">Feedback</h4>
<p>
Do you see a error or any data catalog missing ? Please write as at dateno@dateno.io or write an <a href="https://github.com/commondataio/dataportals-registry/issues">issue</a> on Github. We will resolve it ASAP.
</p>

{% endif %}
{% endblock %}
