{% extends "base.tmpl" %}
{% block pagetitle %}Countries list{% endblock %}
{% block content %}
<h1 class='title'>Data catalogs by countries and territories</h1>

<p></p>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Total</th>
          <th><abbr title="Open data portals">ODP</abbr></th>
          <th>Geoportals</th>
          <th>Research</th>
          <th>Indicators</th>
          <th>Microdata</th>
          <th>Other</th>
          <th>Is indexed</th>
          <th>Datasets</th>
        </tr>
      </thead>
      <tbody>

        {% for o in objects %}         
        <tr>
          <td>{{ o.id }}</td>
          <td><a href="/country/{{o.id}}">{{ o.name }}</a></td>
          <td>{{ o.num_catalogs }}</td>
          <td>{{ o.num_od }}</td>
          <td>{{ o.num_geo }}</td>
          <td>{{ o.num_research }}</td>
          <td>{{ o.num_ind }}</td>
          <td>{{ o.num_micro }}</td>
          <td>{{ o.num_other }}</td>          
          <td class="{% if o.dateno.indexed %}has-background-success-light{% else %}has-background-danger-light{% endif%}">{% if o.dateno.indexed %}Yes {% else %}No{% endif%}</td>
          <td>{{ o.dateno.num_total }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

{% endblock %}
