{% extends "base.tmpl" %}
{% block pagetitle %}{{object.name}} data catalogs{% endblock %}
{% block content %}
<h1 class="title">{{object.name}} ({{object.id}})</h1>
<p><a href="/country/{{object.id}}.json">JSON</a></p>

<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Total</p>
      <p class="title">{{object.num_catalogs}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Open data portals</p>
      <p class="title">{{ object.num_od }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Geoportals</p>
      <p class="title">{{ object.num_geo }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Research catalogs</p>
      <p class="title">{{ object.num_research }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Indicators catalogs</p>
      <p class="title">{{ object.num_ind }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Microdata catalogs</p>
      <p class="title">{{ object.num_micro }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Other</p>
      <p class="title">{{ object.num_other }}</p>
    </div>
  </div>
</nav>

<h4 class="title is-4">List of data catalogs</h4>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Type</th>
          <th>Owner type</th>
          <th>Software</th>
        </tr>
      </thead>
      <tbody>

        {% for o in catalogs_list %}         
        <tr>
          <td>{{ o.uid }}</td>
          <td><a href="/catalog/{{o.uid}}">{{ o.name }}</a></td>
          <td>{{ o.catalog_type }}</td>
          <td>{{ o.owner.type }}</td>
          <td>{{ o.software.name }}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>

<h3 class="title">Feedback</h3>
<p>
Do you see a error or any data catalog missing ? Please write as at dateno@dateno.io or write an <a href="https://github.com/commondataio/dataportals-registry/issues">issue</a> on Github. We will resolve it ASAP.
</p>

{% endblock %}
